<a href="https://colab.research.google.com/github/LEEHYUNJI94/Python/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 딕셔너리형 & 시리즈형 & 프레임만들기
  +슬라이싱

In [0]:
import pandas as pd

######데이터세팅-DataFrame######
name_ser = pd.Series(["이현지","이둥","julia","아가"],index = ["a","b","c","d"])
salary_ser=pd.Series([90000,2000,40000,105],index = ["a","b","c","d"] )
month_ser=pd.Series([3,6,20,10],index = ["a","b","c","d"])

result= pd.DataFrame({
    "name" :name_ser,
    "salary":salary_ser,
    "month":month_ser
})
result["total_salary"] = result["salary"] * result["month"]
print(result)
######데이터세팅-DataFrame######


#####슬라이싱#####
###DataFrame안에 loc함수이용
##컬럼 슬라이싱
#index b~c까지 total_salary컬럼
print(result.loc["b":"c","total_salary":])

##인덱스기준으로 슬라이싱
#행(인덱스)1:2->1행, 열3:0->3열
print(result.iloc[1:2,3:])

##데이터 변경
#[]안에 좌표
result.loc["d","salary"] = 500

##데이터 행삽입
#[]행설정 후 값 []안에 배열로 담기
result.loc["e"]=["구기수",200,1,200]
print(result)

### 엑셀형식으로 저장

In [1]:
import pandas as pd
######데이터세팅-DataFrame######
name_ser = pd.Series(["이현지","Hyun","julia","Lee"],index = ["a","b","c","d"])
salary_ser=pd.Series([90000,2000,40000,105],index = ["a","b","c","d"] )
month_ser=pd.Series([3,6,20,10],index = ["a","b","c","d"])

result = pd.DataFrame({
    "name":name_ser,
    "salary":salary_ser,
    "month":month_ser
})
print(result)
######데이터세팅-DataFrame######


#####엑셀형식으로 저장하기#####
#.to_csv encoding --데이터를 내보낼때 
result.to_csv("saved.csv", encoding="utf-8-sig")

# read_csv index_col --데이터를 불러 올때
result_saved=pd.read_csv("saved.csv", index_col=0)
print(result_saved)

    name  salary  month
a    이현지   90000      3
b   Hyun    2000      6
c  julia   40000     20
d    Lee     105     10
    name  salary  month
a    이현지   90000      3
b   Hyun    2000      6
c  julia   40000     20
d    Lee     105     10